/node_modules
/public/hot
/public/mix-manifest.json
/public/sp
/public/media
/public/js
/public/css
/public/fonts/vendor
/storage/*.key
/storage/medialibrary/temp
/storage/debugbar
/storage/contracts
_ide_helper.php
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.env
.phpunit.result.cache
yarn.lock
package-lock.json
*.sketch
**/.DS_Store
**/*.swp
